Source: ros-jazzy-mrpt-sensor-bumblebee-stereo
Section: misc
Priority: optional
Maintainer: José Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright, ament-cmake-cppcheck, ament-cmake-cpplint, ament-cmake-flake8, ament-cmake-lint-cmake, ament-cmake-pep257, ament-cmake-uncrustify, ament-cmake-xmllint, ament-lint, libtf2-dev, libtf2-ros-dev, python3-tf2, python3-tf2-ros, ros-environment, ros-jazzy-mrpt-msgs, ros-jazzy-mrpt-sensorlib, ros-jazzy-mrpt2, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-ros-workspace
Homepage: https://github.com/mrpt-ros-pkg/mrpt_sensors
Standards-Version: 3.9.2

Package: ros-jazzy-mrpt-sensor-bumblebee-stereo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ament-cmake-copyright, ament-cmake-cppcheck, ament-cmake-cpplint, ament-cmake-flake8, ament-cmake-lint-cmake, ament-cmake-pep257, ament-cmake-uncrustify, ament-cmake-xmllint, ament-lint, libtf2-dev, libtf2-ros-dev, python3-tf2, python3-tf2-ros, ros-jazzy-mrpt-msgs, ros-jazzy-mrpt-sensorlib, ros-jazzy-mrpt2, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-ros-workspace
Description: ROS node for Bumblebee Stereo Cameras using libdc1394 interface (based on mrpt-hwdrivers)
